.root {
    display: flex;
    justify-content: center;
    width: 100%;
    background: #efefef;
}

.appBar {
    justify-content: center;
}

.logoContainer {
    flex: 1;
    align-items: center;
}

.logo {
    height: 40px;
    margin-top: 5px;
}

.contentContainer {
    padding: 16px;
    margin-top: 65px;
    width: 100%;
    max-width: 800px;
}

.button {
    text-decoration: none;
}
