.root {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.placeholder {
    background: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0);
}

.calendarName {
    display: inline-block;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.listItemText {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.listItemSelected {
    background-color: rgba(0, 0, 0, 0.12);
}

.icon {
    margin-right: 0 !important;
}
