.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.paper {
    width: 100%;
    max-width: 900px;
}

.root {
    padding: 16px;
    overflow: auto;
}

.footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.formHeader {
    margin-bottom: 30px !important;
}

.cancelLink {
    text-decoration: none;
}

.menuItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.calendarInputContainer {
    position: relative;

    input {
        width: calc(100% - 36px);
    }
}

.calendarInputIcon {
    position: absolute;
    right: 6px;
    bottom: 4px;
}
