.root {
    width: 265px;
    padding-top: 65px;
    z-index: 0 !important;
}

.listRoot {
    flex: none !important;
}

.divider {
    margin: 6px 0 !important;
}

.icon {
    margin-right: 0 !important;
}

.listItemText {
    font-weight: 600 !important;
}

.listItemSelected {
    background-color: rgba(0, 0, 0, 0.12);
}

.flex {
    display: flex;
}

