.contentWrapper {
    display: flex;
    justify-content: center;
}

.contentContainer {
    width: 100%;
    max-width: 900px;
}

.addButton {
    position: fixed;
    bottom: 24px;
    right: 24px;
}
