.contentWrapper {
    display: flex;
    justify-content: center;
}

.marginLeft {
    width: calc(100% - 265px);
    margin-left: 265px;
}

.contentContainer {
    width: 90%;
    max-width: 900px;
}

.addButton {
    position: fixed;
    bottom: 24px;
    right: 24px;
}

@media only screen and (max-width: 1000px) {
    .contentWrapper {
        width: 100%;
        margin-left: 0;
    }

    .content {
        margin-left: 0;
    }
}
